<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marmitom</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" src="/static/style.css">
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <style>

      body{
        overflow-x:hidden;
      }

      #naviguation{
        margin:auto;
        padding-top:4%;
        padding-bottom:5%;
        width:90%;
      }

      #containerbody{
        width:90%;
        z-index: 1;
        margin:auto;
      }

      #naviguation a{
        padding-right:50px;
      }

      p{
        margin-bottom:4%;
      }

      .form-check{
        width:90%;
        padding-left:10%;
        accent-color: green;
      }

      #recette{
        margin-top:8%;
        border:none;
      }

      .card-img-top2 {
      width:40%;
      max-height: 300px;
      object-fit: contain;
       
    }

    #recette .card{
      border-style: none;
    }

    iframe{
      position:absolute;
      right:-200px;;
      top:0;
      height:100vh;
      z-index:0;
    }

    

      
    </style>

</head>

<body>


  <nav id="naviguation" class="navbar navbar-expand-sm bg-transparent navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3000">Marmitom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/liste_recettes">Voir les recettes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      
