

<%- include ('header'); %>





<h1 class="mt-4 mx-4">Qu'est-ce que je vais manger aujourd'hui ?</h1>

<p class="mx-4">Sélectionne le type de plat qui te tente, on s'occupe du reste.</p>

<form  class="container mx-4">
    <div class="row">
        <div class="col-sm-5">
            <label for="compteur">Combien de personnes vont manger ?</label>
            <input type="number" id="compteur" name="compteur" min="1" class="w-25 mb-2">
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Viande
                <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Poisson
                <label class="form-check-label" for="radio2"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">Végétarien
                <label class="form-check-label" for="radio3"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">Vegan
                <label class="form-check-label" for="radio4"></label>
            </div>
        </div>
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary my-4">J'ai choisi !</button>
        </div>
    </div>
    </form>


    <div>
        <p id="nomRecette"></p>
        <p id="ingredient"></p>
        <p id="preparation"></p>
    </div>





    <script>
    // Partie affichage de la recette choisie
    let bouton=document.getElementById("submit");
            let zoneNom=document.getElementById("nomRecette");
            let zoneIngredient=document.getElementById("ingredient");
            let zonePreparation=document.getElementById("preparation");

            bouton.onclick = function(){

            //Récupération du nom de la catégorie choisie 
            var categorie="";
                if (document.getElementById('radio1').checked) {
                    categorie="viande";
                }
                else if (document.getElementById('radio2').checked) {
                    categorie="poisson";
                }
                else if (document.getElementById('radio3').checked) {
                    categorie="végé";
                }
                else if (document.getElementById('radio4').checked) {
                    categorie="végan";
                }
                
                console.log("catégorie choisie "+categorie);

            //Selection recette et affichage
                let recette=SelectionRecette(categorie)
                
                zoneNom.innerHTML="</br><h2>"+recette.nomRecette+"</h2>";

                //INGREDIENTS
                zoneIngredient.innerHTML="<h3>Ingrédients</h3> <ul>";
                    
                    for (let i = 0; i < recette.ingredients.length ; i++){        
                        zoneIngredient.innerHTML+="<li>"+recette.ingredients[i].join(" ")+"</li>";
                    }  
                zoneIngredient.innerHTML+="</ul>";       
                            
                //PREPARATION      
                zonePreparation.innerHTML="<h3>Préparation</h3> <ul>";
                    
                    for (let i = 0; i < recette.preparation.length ; i++){        
                        zonePreparation.innerHTML+="<li>"+recette.preparation[i].join(" ")+"</li>";
                    }  
                zonePreparation.innerHTML+="</ul>";    
            }


    
    
    


    function SelectionRecette(categorie){

        // On récupère le tableau avec toutes les recettes
        
            var recettes = <%- JSON.stringify(recettes[0]) %>;
        
            // On initialise le tableau ou les recettes de la bonnes catégorie arriveront
            let recettesCategorie=[];
        
        
            // Boucle qui vient trouver les recettes correspondant a la categorie choisie
            for (let i=0;i<recettes.length;i++){
                if (recettes[i].categorie==categorie){
                    recettesCategorie.push(recettes[i]);
                }
            }
        
            //Solution qui vient prendre une recettes au hasard parmis le tableau contenant la catégorie choisie, l'initialise dans recette
            var random = Math.random() * (recettesCategorie.length - 1) + 0; 
            random=Math.round(random);
            let recette=recettesCategorie[random];
        
        
            return(recette);
    }
            



    </script>


<%- include ('footer'); %>

